{{#extends "base"}}

{{#block "content"}}
<form method = "POST" class="mb-3">
    <div class=" alert alert-danger">
        <p> Are you sure you want to delete {{customer.first_name}},{{customer.last_name}}</p>
        <div>
            <input type="submit" class="alert alert-danger" value="Confirm Delete"/>
            </a href="/customers" class="btn btn-primary">Cancel Delete</a>
        </div>
    </div>
    
</form>


{{/block}}

{{/extends}}